In [1]:
%matplotlib inline

# Dependencies

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Files to load
cmpd_data_to_load = "CMPD_Violent_Crime.csv"

In [2]:
# Read the city data file and store it in a pandas DataFrame.
cmpd_violent_data_df = pd.read_csv(cmpd_data_to_load)
cmpd_violent_data_df.head(5)

,Unnamed: 0,"Aggravated Assault-Fists,Feet, etc.",Aggravated Assault-Gun,Aggravated Assault-Knife,Aggravated Assault-Other Weapon,Armed Robbery,Attempted Rape,Homicide,Non-Fatal Gunshot Injury,Rape,Strong Arm Robbery,Violent Crime,Grand Total,Grand Total (T+1)
0,1/1/2015,11,237,41,40,99,NaN,8,20,21,34,491,1002,708.0
1,2/1/2015,3,134,40,46,67,1.0,5,16,25,25,346,708,829.0
2,3/1/2015,8,141,48,52,78,3.0,4,13,26,48,408,829,829.0
3,4/1/2015,12,132,54,57,84,2.0,6,15,18,42,407,829,1079.0
4,5/1/2015,10,174,71,71,113,2.0,1,27,24,60,526,1079,862.0

In [3]:
# Get the columns and the rows that are not null.
cmpd_violent_data_df.count()

Unnamed: 0                             96
Aggravated Assault-Fists,Feet, etc.    96
Aggravated Assault-Gun                 96
Aggravated Assault-Knife               96
Aggravated Assault-Other Weapon        96
Armed Robbery                          96
Attempted Rape                         74
Homicide                               96
Non-Fatal Gunshot Injury               96
Rape                                   96
Strong Arm Robbery                     96
Violent Crime                          96
Grand Total                            96
Grand Total (T+1)                      95
dtype: int64

In [4]:
# Get the columns and the rows that are not null.
cmpd_violent_data_df.isnull().sum()

Unnamed: 0                              0
Aggravated Assault-Fists,Feet, etc.     0
Aggravated Assault-Gun                  0
Aggravated Assault-Knife                0
Aggravated Assault-Other Weapon         0
Armed Robbery                           0
Attempted Rape                         22
Homicide                                0
Non-Fatal Gunshot Injury                0
Rape                                    0
Strong Arm Robbery                      0
Violent Crime                           0
Grand Total                             0
Grand Total (T+1)                       1
dtype: int64

In [5]:
# Check for duplicated rows
cmpd_violent_data_df.duplicated().sum()

0

In [6]:
# Get the data types of each column.
cmpd_violent_data_df.dtypes

Unnamed: 0                              object
Aggravated Assault-Fists,Feet, etc.      int64
Aggravated Assault-Gun                   int64
Aggravated Assault-Knife                 int64
Aggravated Assault-Other Weapon          int64
Armed Robbery                            int64
Attempted Rape                         float64
Homicide                                 int64
Non-Fatal Gunshot Injury                 int64
Rape                                     int64
Strong Arm Robbery                       int64
Violent Crime                            int64
Grand Total                              int64
Grand Total (T+1)                      float64
dtype: object

In [8]:
#df raw count
cmpd_violent_data_df.count()

Unnamed: 0                             96
Aggravated Assault-Fists,Feet, etc.    96
Aggravated Assault-Gun                 96
Aggravated Assault-Knife               96
Aggravated Assault-Other Weapon        96
Armed Robbery                          96
Attempted Rape                         74
Homicide                               96
Non-Fatal Gunshot Injury               96
Rape                                   96
Strong Arm Robbery                     96
Violent Crime                          96
Grand Total                            96
Grand Total (T+1)                      95
dtype: int64

In [10]:
# Get the columns and the rows that are null.
cmpd_violent_data_df.isnull().sum()

Unnamed: 0                              0
Aggravated Assault-Fists,Feet, etc.     0
Aggravated Assault-Gun                  0
Aggravated Assault-Knife                0
Aggravated Assault-Other Weapon         0
Armed Robbery                           0
Attempted Rape                         22
Homicide                                0
Non-Fatal Gunshot Injury                0
Rape                                    0
Strong Arm Robbery                      0
Violent Crime                           0
Grand Total                             0
Grand Total (T+1)                       1
dtype: int64

In [12]:
cmpd_violent_data_df['Attempted Rape'] = cmpd_violent_data_df['Attempted Rape'].fillna(0)

In [14]:
cmpd_violent_data_df.count()

Unnamed: 0                             96
Aggravated Assault-Fists,Feet, etc.    96
Aggravated Assault-Gun                 96
Aggravated Assault-Knife               96
Aggravated Assault-Other Weapon        96
Armed Robbery                          96
Attempted Rape                         96
Homicide                               96
Non-Fatal Gunshot Injury               96
Rape                                   96
Strong Arm Robbery                     96
Violent Crime                          96
Grand Total                            96
Grand Total (T+1)                      95
dtype: int64